@font-face {
	font-family: Vazir;
	src: url('../fonts/Vazirmatn-Regular.woff2');
}

@font-face {
	font-family: Vazir;
	src: url('../fonts/Vazirmatn-Bold.woff2');
	font-weight: bold;
}

@font-face {
  font-family: Mikhak;
  src: url("../fonts/Mikhak.woff2");
}

body {
  font-family: Mikhak;
  background-color: rgb(239, 242, 246);
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#form_shortner {
    width: 100%;
    max-width: 900px;
    background-color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    margin-block: 32px;
    margin: 16px auto;
}

a {
  text-decoration: none;
}